*{ 
	margin:0;
	padding: 0;
    box-sizing: border-box;
	border: 0;
	line-height: 1;
}
ul {
	list-style: none;
}
table {
	border-collapse: collapse;
}
a { 
    text-decoration: none; 
    color: inherit;
}